body{
    background-image: url("/assets/bg.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
}
li{
    list-style-type: none;
}
img{
    height: 200px;
}
a{
    font-family: 'Anton', sans-serif;
    font-size: 20px;
}
.font-brand{
    font-size: 25px;
}
.font-title{
    color: #3F51B5;
    font-size: 25px;
}
.font-text{
    font-size: 20px;
}
.yellow-card{
    background-color: #FFEB46;
}
.indexImg{
    height: 200px;
}
.paddingcard{
    margin-bottom: auto;
}